{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="auth-container">

    <div class="card">

        <h1>Welcome Back</h1>

        <p class="subtitle">
            Login to manage your tasks.
        </p>

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="button">
                Login
            </button>

        </form>

        <p class="bottom-text">
            Don't have an account?
            <a href="{% url 'register' %}">
                Register
            </a>
        </p>

    </div>

</div>

{% endblock %}